@media (max-width: 461px){
    .header__link{
        width: 100%;
        margin: 0 0 10px;
    }
    h1{
        margin: 70px 0 25px;
        font-size: 32px;
        line-height: 38px;
    }
    .services__item{
        margin: 70px 6px 10px;
    }
    section h3{
        font-size: 19px;
        line-height: 25px;
        margin: 29px 0px 18px;
    }
    footer p{
        display: block;
    }
}
@media (max-width: 920px){
    .benefit__elements{
        justify-content: space-evenly;
    }
}
@media (max-width: 797px){
    footer img{
        margin: 20px 0;

    }
    footer p{
        top: 0;
        margin: 0 10px;
    }
}
@media (max-width: 490px){
    footer .container{
        flex-direction: column;
    }
    footer{
        padding: 10px 0;
    }
}
@media (max-width: 425px){
    header{
        padding-bottom: 70px;
    }
}
@media (max-width: 375px){
    .benefit__item p{
        left: 0;
    }
}