body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}
header{
    text-align: center;
    padding: 20px 0 201px;
}
h1{
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    margin: 138px 0 25px;
}
header p{
    font-size: 14px;
    line-height: 20px;
    max-width: 572px;
    margin: 0 auto 25px;
    letter-spacing: 0.02em;
}
.header__link{
    width: 210px;
    padding: 20px 0;
    margin: 0 10px 10px;
    border: 1px solid #F5CE00;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    color: black;
    display: inline-block;
    transition: 0.5s;
}
.link__header_yellow{
    background-color: #F5CE00;
}
.link__header_yellow:hover{
    background-color: white;
}
.link__header_white:hover{
    background-color: #F5CE00;
}
.services{
    padding: 70px 0 79px;
    background-color: #F3F3F3;
    text-align: center;
}
h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
}
.services__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 0 32px;
    padding: 0;
}
.services__item{
    width: 30%;
    margin: 70px 0 38px;
    min-width: 300px;
}
section h3{
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin: 29px 0 18px;

}
section p{
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.2px
}
section a{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    text-transform: uppercase;
    cursor: pointer;
}
.benefit{
    background-color: #E3E1E1;
    padding: 79px 0 87px;
}
.benefit h2{
    text-align: center;
}
.benefit__elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 46px 0 0 0;
    flex-wrap: wrap;
}
.benefit__list{
    width: 29.5%;
    min-width: 300px;
}
.benefit img{
    width: 30%;
    min-width: 300px;
    filter: drop-shadow(4px 4px 10px rgba(103, 103, 103, 0.8));
}
.benefit span{
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    position: relative;
    top: 5px;
}
.benefit__item h3{
    display: inline-block;
    margin: 0 0 23px 21px;
}
.benefit__item p{
    position: relative;
    left: 61px;
    margin: 0 0 25px;
    width: 240px;
}
footer{
    background-color: #413939;
    padding: 71px 0;
    text-align: center;
}
footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
footer p{
    display: inline-block;
    position: relative;
    top: 19px;
    color: white;
    font-size: 12px;
    line-height: 14px;
}
footer img{
    margin: 0 179px;
}
